<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mercadopago-sdk" version="1.0.57" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1358.0" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40" />
  <package id="NUnit" version="3.10.1" targetFramework="net40" />
  <package id="ObjectDumper" version="1.0.0.12" targetFramework="net40" />
</packages>